body{
    margin: 20px;
}

.container{
    max-height: 400px;
    margin: auto;
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
}

li{
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed{
    text-decoration: line-through;
    color: gray;
}

button{
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}
button:hover{
    background: darkred;

}
input{
    padding: 10px;
    width: 15%;
    margin-right: 10px;
}